.container
{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    overflow:auto;
}
img
{
    width: 200px;
}
.img-container
{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    overflow: auto;
}
.img1
{
    float: right;
}
.img2
{
    float:left;
}
